/* NEON VARIABLES */
:root {
  --neon-color: #68c5ff;
  --neon-shadow-1: 0 0 2px var(--neon-color);
  --neon-shadow-2: 0 0 12px var(--neon-color);
  --neon-shadow-3: 0 0 26px #68c5ff;
  --neon-shadow-4: 0 0 35px #68c5ff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #160f35;
  color: var(--neon-color);
}

/* MENU */
header {
  background-color: #1d1d1d;
  padding: 15px;
  box-shadow: 0 0 10px #68c5ff;
  width: 100%;
  position: fixed;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
}

nav ul li {
  flex: 1; /* chaque bouton prend la même largeur */
  text-align: center;
  cursor: pointer;
  color: var(--neon-color);
  text-shadow: var(--neon-shadow-1), var(--neon-shadow-2);
  transition: 0.3s ease;
  padding: 10px 0;
  border-right: 1px solid #68c5ff;
}

/* enlève la bordure du dernier bouton */
nav ul li:last-child {
  border-right: none;
}

nav ul li:hover {
  text-shadow: var(--neon-shadow-2), var(--neon-shadow-3), var(--neon-shadow-4);
  transform: scale(1.08);
}

nav ul li {
  cursor: pointer;
  color: var(--neon-color);
  text-shadow: var(--neon-shadow-1), var(--neon-shadow-2);
  transition: 0.3s ease;
}

nav ul li:hover {
  text-shadow: var(--neon-shadow-2), var(--neon-shadow-3), var(--neon-shadow-4);
  transform: scale(1.08);
}

/* CONTENT */
.content {
  padding: 120px 0;
  text-align: center;
  font-size: 30px;
  color: rgb(170, 200, 240);
  letter-spacing: 2px;
}

p {
  margin-bottom: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

#image {
  padding: 0;
}

img {
  width: 50px;
}

/* FOOTER */
footer {
  background-color: #1d1d1d;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  color: var(--neon-color);
  text-shadow: var(--neon-shadow-1), var(--neon-shadow-2);
  box-shadow: 0 0 15px #68c5ff;
}
