/* NEON VARIABLES */
:root {
  --neon-color: #68c5ff;
  --neon-shadow-1: 0 0 2px var(--neon-color);
  --neon-shadow-2: 0 0 12px var(--neon-color);
  --neon-shadow-3: 0 0 26px #68c5ff;
  --neon-shadow-4: 0 0 35px #68c5ff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #160f35;
  color: var(--neon-color);
}

/* HEADER */
header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0 0 12px var(--neon);
  padding: 15px;
  backdrop-filter: blur(4px);
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 30px;
  align-items: center;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  color: var(--neon);
  text-decoration: none;
  font-weight: bold;
  text-shadow: 0 0 8px var(--neon);
  transition: 0.2s;
}

nav ul li a:hover {
  text-shadow: 0 0 14px var(--neon), 0 0 22px var(--neon);
  transform: scale(1.08);
}

/* CONTENT */
.content {
  padding: 120px 0;
  text-align: center;
  font-size: 30px;
  color: rgb(170, 200, 240);
  letter-spacing: 2px;
}

p {
  margin-bottom: 60px;
  margin-left: 100px;
  margin-right: 100px;
}

#image {
  padding: 0;
}

img {
  width: 50px;
}

/* FOOTER */
footer {
  background-color: #1d1d1d;
  text-align: center;
  padding: 20px;
  bottom: 0;
  width: 100%;
  font-size: 14px;
  color: var(--neon-color);
  text-shadow: var(--neon-shadow-1), var(--neon-shadow-2);
  box-shadow: 0 0 15px #68c5ff;
}
